<footer class="fl w-100 pv4">

  <div class="fl w-100 w-50-L w-50-m w-50-ns pa3">
    <div class="ph4">
    <p class="b">Join us!</p>

    </div>
  <form class="mw7 center pa4 br2-ns ">
    <fieldset class="cf bn ma0 pa0">
      <div class="cf">
        <label class="clip" for="email-address">Email Address</label>
        <input class="f6 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid w-100 w-75-m w-80-l br2-ns br--left-ns" placeholder="Your Email Address" type="text" name="email-address" value="" id="email-address">
        <input class="f6 f5-l button-reset fl pv3 tc bn bg-animate bg-black-70 hover-bg-black white pointer w-100 w-25-m w-20-l br2-ns br--right-ns" type="submit" value="Subscribe">
      </div>
    </fieldset>
  </form>
  </div>
  
  <div class="fl w-50 w-25-L w-25-m w-25-ns pa2">
    <p class="b">About</p>
    <ul class="list pl0 ml0">
      <li>
        <a href="/about" title="Amber Initiave" class="f6 dib ph2 mid-gray dim link underline-hover">Amber Initiave</a>
      </li>
<!--       <li>
        <a href="/how" title="Terms" class="f6 dib ph2 mid-gray dim link underline-hover">How it Works</a>
      </li> -->
      <li>
        <a href="https://pamelapascual528775.typeform.com/to/pH4R2P" title="Fund Us" class="f6 dib ph2 mid-gray dim link underline-hover">Fund Us</a>
      </li>
      <li>
        <a href="/join" title="Privacy" class="f6 dib ph2 mid-gray dim link underline-hover">Join Us</a>
      </li>
    </ul>
  </div>
   
  <div class="fl w-50 w-25-L w-25-m w-25-ns pa2">
    <p class="b">Projects</p>
      <ul class="list pl0 ml0">
        <li>
          <a href="/water" title="Water" class="f6 dib ph2 mid-gray dim link underline-hover">Water</a>
        </li>
        <li>
          <a href="/land" title="Land" class="f6 dib ph2 mid-gray dim link underline-hover">Land</a>
        </li>
        <li>
          <a href="/communications" title="Communications" class="f6 dib ph2 mid-gray dim link underline-hover">Communications</a>
        </li>
        <li>
          <a href="/Citizen Science" title="citizen-science" class="f6 dib ph2 mid-gray dim link underline-hover">Citizen Science</a>
        </li>
        <li>
          <a href="/Distributed Production" title="distributed-production" class="f6 dib ph2 mid-gray dim link underline-hover">Distributed Production</a>
        </li>
      </ul>
  
  </div>
</footer>