<head>
  <title>Amber Initiative</title>
  <meta
    name="description"
    content="Description"
  />
  <!-- ˜150 chars -->
  <meta property="og:title" content="Amber Initiative" />
  <meta
    property="og:description"
    content="DECIPTION"
  />
  <!-- ˜300 chars -->
  <meta property="og:site_name" content="Amber Initiative" />
  <meta property="og:type" content="website" />
  <meta
    property="og:url"
    content="PAGE IMAGE URL"
  />
  <meta
    property="og:image"
    content="PREVIEW URL"
  />

  <link
    id="favicon"
    rel="icon"
    href="https://glitch.com/edit/favicon-app.ico"
    type="image/x-icon"
  />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link
    href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"
  />
  <link rel="stylesheet" href="/slideshow.css" />
  <link rel="stylesheet" href="/all.css" />
  <link rel="stylesheet" href="/about.css" />
  <link rel="stylesheet" href="/blog.css" />
  <link rel="stylesheet" href="/index.css" />
  <link rel="stylesheet" href="/projects.css" />

  <script src="/slideshow.js" defer></script>
  <script src="/scripts.js" defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



</head>

