<nav class="dt w-100 border-box pa3 pa3-l pa3-m">
  <a class="link dim dark-gray f6 pv2 f5-ns dib mr3 mr4-ns b" href="/" title="About">Amber Initiative</a>
  <div class="dtc v-mid w-75 tr">
    <a class="link dim dark-gray pv2 f6 f5-ns dib mr3 mr4-ns" href="/project" title="About">Projects</a>
    <a class="link dim dark-gray pv2 f6 f5-ns dib mr3 mr4-ns" href="/about" title="Store">About</a>
      <a class="f6 link dim br2 ba ph3 pv2 mb2 dib black" href="https://pamelapascual528775.typeform.com/to/pH4R2P">Fund Us</a>


<!--     <a class="link dim dark-gray f6 f5-ns dib" href="#" title="Contact">Join Us</a> -->
  </div>
</nav>
