<div class="f w-100 pa4">
  <h2>Collaborators</h2>
  <div class="sidescroll">
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-center cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Pamela Pascual
      </h3>
      <h4>
        Catalyst
      </h4></a
    >
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-center cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Pamela Pascual
      </h3>
      <h4>
        Catalyst
      </h4></a
    >
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-center cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Pamela Pascual
      </h3>
      <h4>
        Catalyst
      </h4></a
    >
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-center cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Pamela Pascual
      </h3>
      <h4>
        Catalyst
      </h4></a
    >
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-center cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Pamela Pascual
      </h3>
      <h4>
        Catalyst
      </h4></a
    >
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-center cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Pamela Pascual
      </h3>
      <h4>
        Catalyst
      </h4></a
    >
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-center cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Pamela Pascual
      </h3>
      <h4>
        Catalyst
      </h4></a
    >
    
    
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-center cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Pamela Pascual
      </h3>
      <h4>
        Catalyst
      </h4></a
    >
  </div>
</div>




