<!-- It's a handlebars template! hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  {{> head }}

  <body>
    <header>
      {{> nav }}
 
<!--   Wanna add Bootstrap?     -->
<!--    Or more JS files?    -->
<!--     Go crazy!   -->
    </header>

    <main>
      {{{ body }}}
    </main>
    <section class="">
      {{> footer }}
    </section>
    
  </body>
  
</html>
