<div class="center w-40 tc pa2">
  <span class="hero-declaration"> 404 </span>
  <p>Sorry, we couldn't find that page</p>
  {{#if message}}
    <p>{{message}}</p>
  {{/if}}
  <a class="btn" href={{toLink}}> {{toText}} </a>
</div>
