<header class="dt w-100 ">
  <div class="dtc v-mid tc">
    <div
      style="background:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2Fbanner.png?v=1580708972943) no-repeat center;background-size: contain;"
      class="pv7 cover center"
    >
      <h1 class="f6 f-subheadline-l measure lh-title fw6  hero-declaration-sub">
        We Are
      </h1>
      <h1 class="f2 f-subheadline-l measure lh-title fw9 hero-declaration">
        AMBER INITIATIVE
      </h1>
    </div>
  </div>
</header>

<section class="contain">
  <section class="fl w-100 pv5 aboutparagraph">
  <div class="w-100 w-50-l w-100-m w50-ns pv2 pv4-l pv2-m pv4-ns">
    <img
      class="fl grow w-100 leftimg"
      src="http://mrmrs.github.io/photos/009.jpg"
      alt=""
    />
  </div>

    <div class="fl w-100 w-50-l w-100-m w50-ns pa4 pa4-l pa4-m pa4-ns">
    <h2>About</h2>
    <p class="">

      We are a growing federation of cooperatives, designers, engineers,
      artists, social entrepreneurs and scientists. Amber Initiative was created
      to both support and connect our community as we work to make the world
      better for all the inhabitants of Earth. <br /><br />
      As this federation of <i>(do good busy bodies?)</i> grows we will be able
      to contend with the growing destructive forces of the unchecked corporate
      growth mindset. We don't intend to compete with these forces, we simply
      want to prove there is an alternative that can generate a greater
      prosperity for humans while supporting and regenerating essential living
      systems.
    </p>
  </div>
</section>

<section class="fl w-100 pv5 aboutparagraph">
  <div class="fl w-100 w-50-l w-100-m w50-ns pa4">
    <h2>Shft Happens</h2>
    <p><i>Our vision is to evolve a symbiotic social contract for humanity and the planet.</i></p>
    <p>Our mission is to connect and catalyze alternative infrastructure projects.  We connect diverse forms of capital to support a cooperative network of committed citizens in shaping a new distributed digital economy to benefit the commons and living systems.</p>
  </div>

  <div class="fl w-100 w-50-l w-100-m w50-ns">
    <img 
      class="grow w-100 background-water rightimg"
      src="http://mrmrs.github.io/photos/009.jpg"
      alt=""
    />
    
  </div>
</section>
  
  
  <section class="fl w-100 pv5 aboutparagraph">
<!--       <div class="fl w-100 w-50-l w-50-m w50-ns">
    <img
      class="grow w-100 background-water"
      src="http://mrmrs.github.io/photos/009.jpg"
      alt=""
    />
    
        <h5>
          INTERACTIVE THING GOES HERE
        </h5>
  </div> -->
  <div class="fl w-100 w-100-l w-100-m w100-ns pa4">
    <h2>Open Collaboration towards Living Systems</h2>
    <p>We are growing a network of cooperatives, designers, engineers, artists, social entrepreneurs, scientists and <a href="http://www.ephemerajournal.org/contribution/becoming-commoner-commons-sites-affective-socio-nature-encounters-and-co-becomings">commoners</a>.  This network will contend with traditional institutions and the destructive forces of (GDP)the growth mindset to regenerate essential living systems we depend on.</p>
    <p>By encouraging open innovation, communities can co-create, learn, and share models of collaboration and value flows. We use information technologies to enable self-organization and empower communities by sharing knowledge, data and processes. Supported projects serve a variety of infrastructural layers:</p>
    <ul>
      <li><a href="">Water </a></li>
      
      <li><a href="">Land </a></li>

      <li><a href="">Community Mesh Networks </a></li>

      <li><a href="">Citizen Science </a></li>

      <li><a href="">Maker Spaces </a></li>

    </ul>
  </div>


</section>
  


<section class="fl w-100 pv5 ">
  <div class="f w-100 pa4">
  <h2>Collaborators</h2>
  <div class="sidescroll">
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FPam.jpeg?v=1584313416025);"
          class="db bg-c cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Pamela Pascual
      </h3>
      <h4>
        Catalyst
      </h4></a
    >
    
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FAJ_Romine.jpg?v=1584313750872);"
          class="db bg-c cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        AJ Romine
      </h3>
      <h4>
        Visionerizer
      </h4></a
    >
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-c cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Kiba Gateaux
      </h3>
      <h4>
        TBD
      </h4></a
    >
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-c cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Ivan Cruz
      </h3>
      <h4>
        TBD
      </h4></a
    >
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-c cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Justine De La Cruz
      </h3>
      <h4>
        TBD
      </h4></a
    >
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-c cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Tiny Factories 
      </h3>
      <h4>
        TBD
      </h4></a
    >
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-c cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Jonathan Knapp
      </h3>
      <h4>
        TBD
      </h4></a
    >
    
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-c cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Guthrie Isaac
      </h3>
      <h4>
        TBD
      </h4></a
    >
  </div>
</div>





</div>

</section>

<section class="fl w-100 pv5">
<div class="fl w-50 pa4">
<h2>Partners</h2>
  <div class="aspect-ratio aspect-ratio--3x4">

    
      </div>
  </div>
<div class="fl w-50">
  <img class="w-100 background-water" src="http://mrmrs.github.io/photos/009.jpg" alt=""/>
  </div>

</section>


</section>

