<div class="dt w-60 center pa1">
  <article>
    <header class="vh-100 bg-light-pink dt w-100">
    <div 
      {{#if hero-image}}
        style="background:url({{hero-image}}) no-repeat center right;background-size: cover;" 
      {{/if}}
      class="dtc v-mid cover ph3 ph4-m ph5-l">
      <h1 class="f2 f-subheadline-l measure lh-title fw9">
        {{title}}
      </h1>
      <h2 class="f6 fw6 black">
        Written By: {{#each authors}} {{this}} {{/each}}
      </h2>
    </div>
  </header>

    <p class="measure lh-copy center">
      {{body}}
    </p>
  </article>
</div>
