

<section class="dt w-100 ">
  <div class="dtc v-mid tc pv3 ph4-l hero-section">
    <h1 class="fl w-100 tc hero-declaration-sub">A Declaration of</h1>
    <h1 class="fl w-100 tc hero-declaration">Interdependence</h1>
  </div>
  <!--   <div class="fl w-100">
    <svg>
  <rect x="0" y="15" width="100" height="20"/>
</svg>
  </div> -->
  <!--   <div class="v-mid tc fl w-10 w-10-m  w-10-ns hero-declaration-accent"></div> -->
</section>

<section class="center">
<section class="fl w-100 pv3">

<!--  slideshow section  -->
  <section class="slidesection">
        <div class="fl w-50  slides">
<!--      Water      -->
          <img class="default0 "
            src="https://images.unsplash.com/photo-1548032885-b5e38734688a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1207&q=80"
            srcset="
              https://images.unsplash.com/photo-1548032885-b5e38734688a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1207&q=80,
              https://images.unsplash.com/photo-1548032885-b5e38734688a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1207&q=80 2x
            "
          />
<!--     Distributed production       -->
          <img class="default1 "
            src="https://images.unsplash.com/photo-1510511336377-1a9caa095849?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80"
            srcset="
              https://images.unsplash.com/photo-1510511336377-1a9caa095849?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80,
              https://images.unsplash.com/photo-1510511336377-1a9caa095849?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80 2x
            "
          />
<!--     Citizen science       -->
          <img class="default2 "
            src="https://images.unsplash.com/photo-1550041473-d296a3a8a18a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1164&q=80"
            srcset="
              https://images.unsplash.com/photo-1550041473-d296a3a8a18a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1164&q=80,
              https://images.unsplash.com/photo-1550041473-d296a3a8a18a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1164&q=80 2x
            "
          />
<!--      Communications      -->
          <img class="default3 "
            src="https://images.unsplash.com/photo-1470311500468-0179201f7499?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80"
            srcset="
              https://images.unsplash.com/photo-1470311500468-0179201f7499?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80,
              https://images.unsplash.com/photo-1470311500468-0179201f7499?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80 2x
            "
          />
          
<!--    Land        -->
          <img class="default4 "
            src="https://images.unsplash.com/photo-1547637708-a7b60bf2026c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80"
            srcset="
              https://images.unsplash.com/photo-1547637708-a7b60bf2026c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80,
              https://images.unsplash.com/photo-1547637708-a7b60bf2026c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80 2x
            "
          />
        </div>
      

        <div class="all-topic">
          <h3 class="slidesubtitle"><i>Domains in</i></h3>
          <span class="slidetitles">
            Water
            <hr class="hrslide"/>
          </span>
          <span class="slidetitles">
            Land
            <hr class="hrslide"/>
          </span>
          <span class="slidetitles">
            Communications
            <hr class="hrslide"/>
          </span>
          <span class="slidetitles">
            Citizen Science
            <hr class="hrslide"/>
          </span>
          <span class="slidetitles">
            Distributed Production
            <hr class="hrslide"/>
          </span>
          
  
        </div>
        
      </section>

  
</section>

<section class="fl w-100 hero-video pv5">
  <div class="measure f4 f3-ns center pv5 black-70">
    <div class="aspect-ratio aspect-ratio--16x9 video-shadow">
<!--                 <iframe src="https://www.youtube.com/embed/LAr6oAKieHk" class="aspect-ratio--object" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
      <video width="600" height="auto" controls class="aboutvideo">
        <source
          src="https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2Ftest.mp4?v=1580680623943"
          type="video/mp4"
        />
      </video>
      <div class="brushstroke">
        <img src="https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2Fvideopaint.png?v=1580677897030"/>
      </div>
    </div>
  </div>

</section>

<section class=" w-100 pa5 pv7 ">
  
    <div class="w-100">
      <h2>Updates</h2>
  </div>
  
  <article class="fl w-100 w-50-m  w-25-ns pa4 pb6">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img
        src="https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2Fsolar.png?v=1580954694920"
        class="bg-center cover aspect-ratio--object"
      />
    </div>
    <a href="#0" class="ph2 ph0-ns link db">
      <h4 class="f5 f4-ns mb0 black-90">California farmers turn to solar farming</h4>
      <h3 class="f6 f5 fw4 mt2 black-60">Solar</h3>
    </a>
  </article>
  <article class="fl w-100 w-50-m  w-25-ns pa4 pb6">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img
        src="https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2Fcoal.png?v=1580954693978"
        class="bg-center cover aspect-ratio--object"
      />
    </div>
    <a href="#0" class="ph2 ph0-ns link db">
      <h4 class="f5 f4-ns mb0 black-90">Living next to the coal plant</h4>
      <h3 class="f6 f5 fw4 mt2 black-60">Non-renewable</h3>
    </a>
  </article>
  <article class="fl w-100 w-50-m  w-25-ns pa4 pb6">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img
        src="https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2Ffootprint.png?v=1580954694021"
        class="bg-center cover aspect-ratio--object"
      />
    </div>
    <a href="#0" class="ph2 ph0-ns link db">
      <h4 class="f5 f4-ns mb0 black-90">Shrinking our global footprint</h4>
      <h3 class="f6 f5 fw4 mt2 black-60">Electrification</h3>
    </a>
  </article>
  <article class="fl w-100 w-50-m  w-25-ns pa4 pb6">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img
        src="https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2Fplastic%20.png?v=1580954694928"
        class="bg-center cover aspect-ratio--object"
      />
    </div>
    <a href="#0" class="ph2 ph0-ns link db">
      <h4 class="f5 f4-ns mb0 black-90">A quest to kill plastic packaging</h4>
      <h3 class="f6 f5 fw4 mt2 black-60">Non-renewable</h3>
    </a>
  </article>
</section>
</section>
