<section class="dt w-100 ">
  <div class="dtc v-mid ">
    <div
     style="background:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2Fwater.png?v=1580795363500) no-repeat center; height:550px; background-size:cover;"
      class="p7 cover center">
      
      <div class="pv4 pv5-l pv2-m pv2-ns">
        <div class="fl w-100 w-50-l w-50-m w-50-ns">
          <div>
            <h1  class="f1 lh-title pl6">
            Architectural <br>Ecologies
          </h1>
<!--           <p>
            <a>#water</a>
          </p> -->
          </div>
          
        </div>
        <div class="fr w-100 w-50-l w-100-m w-50-ns">
<!--  Example for Carousel https://codepen.io/NeatDesigns/pen/pLqQKa -->
          <div class="image-slideshow">
            <div class="slider-wrapper">
              <div class="inner-wrapper ">
                <div
                  class="slide"
                  style="background:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2Fbuoyant%2Becologies%2Bfloat%2Blab5.png?v=1580795838007) no-repeat center;background-size: cover;"
                >
<!--                 <p class="">
                    1
                  </p> -->
                </div>
<!--                 <div class="slide">
                  <p>
                    1
                  </p>
                </div> -->
                <div
                  class="slide"
                  style="background:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2Fbuoyant%2Becologies%2Bfloat%2Blab31.png?v=1580795836342) no-repeat center right;background-size: cover;"
                >
<!--                 <p>
                    1
                  </p> -->
                </div>
                <div
                  class="slide"
                  style="background:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2Fbuoyant%2Becologies%2Bfloat%2Blab20.png?v=1580795836138) no-repeat center right;background-size: cover;"
                >
<!--                 <p>
                    1
                  </p> -->
                </div>
                <div
                  class="slide"
                  style="background:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2Fbuoyant%2Becologies%2Bfloat%2Blab36.png?v=1580795836957) no-repeat center right;background-size: cover;"
                >
<!--                 <p>
                    1
                  </p> -->
                </div>
              </div>
            </div>

<!--                 <div class="button prev"></div>
    <div class="button next"></div> -->
          </div>
        </div>
        </div>
      </div>
    </div>
  
</section>






<section class="contain">
  <section class="fl w-100 projectparagraph">
  <div class="fl w-100 w-50-l w-100-m w50-ns pv4">
<!--     <video width="100%" height="auto" >
  <source src="https://player.vimeo.com/video/382988937" type="video/mp4">

Your browser does not support the video tag.
</video> -->
    <iframe class="leftimg" title="vimeo-player" src="https://player.vimeo.com/video/382988937" width="100%" height="360" frameborder="0" title="1" allowfullscreen></iframe>
  </div>
    
    
  <div class="fl w-100 w-50-l w-100-m w50-ns pa4">
    <h2 class="h2projects">About</h2>
    <p> Over the last three years, Buoyant Ecologies has been developing strategies for floating communities in the Maldives, a nation whose territory is 99% ocean and 1% land. With coastal erosion evident on all islands, these architectural housing proposals respond to the impacts of climate change by functioning as a floating reef. By integrating ecological principles into the design, infrastructure like a passive anaerobic wastewater system can be designed to extract methane for cooking, nitrogen-rich water for vegetated shoreline stabilization or food production. On floating buildings PV panels can generate electricity, and seasonal rain flows can be directed into structural hulls providing scalable storage for reliable drinking water collection. Community security is at the center of these resilient designs for island nations threatened by climate change that affect drinking water supplies and exacerbate dependency on foreign imports for food and fuel.</p>


  </div>
</section>
  
  <section class="fl w-100 pv5 projectparagraph">
  <div class="fl w-100 w-50-l w-100-m w50-ns pa4">
    <h2 class="h2projects">Background</h2>
    <p> The project integrates the work of the Architectural Ecologies Lab at California College of the Arts in prototyping floating coastal marine habitats since 2014, drawing upon a team of scientists, engineers and fabricators who have been integral to the translation of speculative designs into pilot projects currently underway in San Francisco Bay.</p>

<p> The next steps towards demonstrating the effectiveness of a Floating Inhabited Reef strategy, that enhances marine ecology and provides habitation for island citizens, is a pilot project of a linked systems of three modular elements that integrate wastewater treatment, solar electricity generation, and drinking water collection.
    </p>
  </div>

  <div class="fl w-100 w-50-l w-100-m w50-ns">
    <img 
      class="grow w-100 background-water rightimg"
      src="https://images.unsplash.com/photo-1493980452659-f7433629d796?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80"
      alt=""
    />
    
  </div>
</section>
  
<!--   
<section class="contain g">
<div class="ph3 mt4">
  <h1 class="f6 fw6 ttu tracked">Basic Button with Border</h1>
  <a class="f6 link dim br3 ba bw1 ph3 pv2 mb2 dib black" href="#0">Button Text</a>
  <a class="f6 link dim br3 ba bw1 ph3 pv2 mb2 dib near-black" href="#0">Button Text</a>
  <a class="f6 link dim br3 ba bw1 ph3 pv2 mb2 dib dark-gray" href="#0">Button Text</a>
  <a class="f6 link dim br3 ba bw1 ph3 pv2 mb2 dib mid-gray" href="#0">Button Text</a>
</div>

</section> -->

<!-- Timeline Section
https://codepen.io/brady_wright/pen/NNOvrW
   -->
  
  
  <section class="w-100">
  
   
    <div class="w-100 ">
        <div class=" example-title">
            <h2 class="h2projects">Progress update</h2>
            
        </div>
      
        <div class="tc">
            <ul class="timeline timeline-centered">
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Spring/Summer 2020</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Phase 1 :</h3>
                        <p>A linked system of three modular elements

a) floating passive anaerobic wastewater system

b) floating marsh islands as wave breakers and habitat

c) floating community meeting room</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Winter 2021 to Summer 2021</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Phase 2 :</h3>
                        <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis
                            eu pede mollis pretium. Pellentesque ut neque. </p>
                    </div>
                </li>
              <li class="timeline-item">
                    <div class="timeline-info">
                        <span>pending Step 1 and Step 2</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Phase 2 :</h3>
                        <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis
                            eu pede mollis pretium. Pellentesque ut neque. </p>
                    </div>
                </li>
              
               
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>April 02, 2016</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Phase 3 :</h3>
                        <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis
                            eu pede mollis pretium. Pellentesque ut neque. </p>
                    </div>
                </li>
               <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-marker"></div>
                    
                </li>
                
            </ul>
        </div>
    </div>
  </section>
  
  

<section class="fl w-100 pv5 ">
  <div class="f w-100 pa4">
  <h2 class="h2projects">Collaborators</h2>
  <div class="sidescroll">
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FMargaret_Ikeda.jpg?v=1580956886835);"
          class="db bg-c cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Margaret_Ikeda
      </h3>
      <h4>
        Design Lead
      </h4></a
    >
    
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FEvan_Jones.jpg?v=1580956874225);"
          class="db bg-c cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Evan Jones
      </h3>
      <h4>
        Design Lead
      </h4></a
    >
<!--     <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-c cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Student Designer
      </h3>
      <h4>
        TBD
      </h4></a
    >
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-c cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Sebastien Tilmans
      </h3>
      <h4>
        Anaerobic Wastewater System Fabrication Specialist
      </h4></a
    >
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-c cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        John Oliver
      </h3>
      <h4>
        Marine Biologists
      </h4></a
    >
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-c cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Kamille Hammerstrom
      </h3>
      <h4>
        Marine Biologists
      </h4></a
    >
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-c cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Andy Davis
      </h3>
      <h4>
        Naval Architect
      </h4></a
    >
    
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-c cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Craig Jones
      </h3>
      <h4>
        Hydrology Engineer
      </h4></a
    >
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-c cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Ryan Stroupe
      </h3>
      <h4>
        Building Technology Consultants
      </h4></a
    >
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-c cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
         Edlyn Garcia
      </h3>
      <h4>
        Building Technology Consultants
      </h4></a
    >
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-c cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Beth Ferguson
      </h3>
      <h4>
        Solar Generation Specialist
      </h4></a
    >
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-c cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Bill Kreysler
      </h3>
      <h4>
        Fabrication Specialist
      </h4></a
    >
    <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-c cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Autodesk Technology Center
      </h3>
      <h4>
        Industry Support
      </h4></a
    >
       <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-c cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Mohamed Fazel
      </h3>
      <h4>
        Local Maldivian Citizen
      </h4></a
    >
       <a class="grow" href="#about">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img
          style="background-image:url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2FKiba-Gateaux.jpg?v=1580852297458);"
          class="db bg-c cover aspect-ratio--object"
        />
      </div>
      <h3 class="image-name-overlay">
        Architectural Faculty
      </h3>
      <h4>
         Maldivian National University
      </h4></a
    > -->
    
  </div>
</div>





</div>

</section>
</section>
