
/* About Page */
div.sidescroll {
  overflow: auto;
  white-space: nowrap;
  height: 500px;
}

div.sidescroll a {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  width:250px;
}
.image-name-overlay {
}
.sidescroll h3 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  color:black;
  font-size: 24px;
  line-height: 32%;
  /* or 10px */
}

.leftimg {
  transform: translate(-150px, 0);
}

a{
  text-decoration: none;
}

p {
  line-height: 20px;
/*   max-width: 455px; */
}

.rightimg {
  transform: translate(150px, 0);
}

.sidescroll h4 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color:gray;
  line-height: 32%;
  /* or 10px */
}

.aboutparagraph {
  box-sizing: border-box;
  transform: transition(-100px, 0);
  border: 2px solid #FF9B94;
  margin: 100px 0;
}