/* styles */
/* called by your view template */

@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: black;
}
h2 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: bold;
  transition: 250ms;
  display: inline-block;
  line-height: 1.4;
  border-bottom: 4px solid #FF9B94;
/*   box-sizing: border-box;
  padding: 18px 12px;
  border: 2px solid #FF9B94; */
}

h2 .water {
  border: 2px solid #CDE8ED;
}

h2 .land {
  border: 2px solid #FFEC80;
}

h2 .communications {
  border: 2px solid #3A3377;
}


/* pink highlight, but this one doesn't adjust to the width of the text */
/* 
.highlight {
  height: 0.70rem;
  width: 25%;
  margin: -30px 0 0 0;
  background: #FF9B94;
  border: none;
  transition: 0.3s ease-in-out;
} */

h3 {
  font-family: "Playfair Display", serif;
}

p,
li {
  max-width: 600px;
}

li {
  margin-bottom: 5px;
}

.contain {
  margin: auto;
  max-width: 1250px;
  padding: 25px;
}









footer {
  background: #FFDCC9;
}




