
/* 
Home Page
 */

.hero-section {
}

.hero-declaration {
  color: #000000;
  font-family: "Inter";
  font-style: italic;
  font-weight: bold;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  
}
.hero-declaration-sub {
  color: #000000;
  font-family: Playfair Display;
  font-style: italic;
  font-weight: normal;
  font-size: 34px;
  line-height: 100%;
  margin: auto;
}

.hero-video {
  /*   background: url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2Fvideopaint.png?v=1580677897030); */
  /*   height: 500vh; /* You must set a specified height */
  */background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  justify-content: center;
}

.aboutvideo {
  position: absolute;
  /*   margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  width: 100%;
}

.brushstroke {
  z-index: -1;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 120%;
  transform: translate(0, -200px) rotate(-90deg);
}

.hero-updates {
}

.hero-updates article h4 {
  font-family: Playfair Display;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}
.hero-updates article h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
}
.hero-declaration-accent {
  border: 19px solid #000000;
}

.about-mission {
}

.background-water {
  background: url(https://cdn.glitch.com/c776b2f0-5687-4d80-953e-49a7d49dddb2%2Fpaint-water.png?v=1580683504609);
  height: 400; /* You must set a specified height */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Home Page */

