
/* Project Pages */

.h2projects{
  border-bottom: 4px solid #CDE8ED;
}

.slider-wrapper {
/*   width: 500px; */
  height: 400px;
  background: #000;
  overflow: hidden;
  
}

.inner-wrapper {
  width: 500%;
  height: 100%;
  position: relative;
  left: -100%;
  
}

.slide {
  width: calc(100% / 5);
  height: 100%;
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;

  float: left;
}

.slide p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */

  display: flex;
  align-items: center;
}

.button {
  width: 30px;
  height: 30px;
  border-top: 2px solid black;
  position: absolute;
  cursor: pointer;
}

img {

}

.prev {
  border-left: 2px solid black;
  left: 100px;
  transform: rotate(-45deg);
}

.next {
  border-right: 2px solid black;
  right: 100px;
  transform: rotate(45deg);
}

.projectparagraph {
  box-sizing: border-box;
  transform: transition(-100px, 0);
  border: 2px solid #CDE8ED;
  margin: 100px 0;
}


/*================================== TIMELINE ==================================*/
/*-- GENERAL STYLES ------------------------------*/
 .timeline {
	 line-height: 1.4em;
	 list-style: none;
	 margin: auto;
	 padding: 0;
	 width: 100%;
}
 .timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
	 line-height: inherit;
}
/*----- TIMELINE ITEM -----*/
 .timeline-item {
	 padding-left: 40px;
	 position: relative;
}
 .timeline-item:last-child {
	 padding-bottom: 0;
}
/*----- TIMELINE INFO -----*/
 .timeline-info {
	 font-size: 12px;
	 font-weight: 700;
	 letter-spacing: 3px;
	 margin: 0 0 0.5em 0;
	 text-transform: uppercase;
	 white-space: nowrap;
}
/*----- TIMELINE MARKER -----*/
 .timeline-marker {
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 width: 15px;
}
 .timeline-marker:before {
	 background: #CDE8ED;
	 border: 3px solid transparent;
	 border-radius: 100%;
	 content: "";
	 display: block;
	 height: 15px;
	 position: absolute;
	 top: 4px;
	 left: 0;
	 width: 15px;
	 transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
 .timeline-marker:after {
	 content: "";
	 width: 3px;
	 background: #ccd5db;
	 display: block;
	 position: absolute;
	 top: 24px;
	 bottom: 0;
	 left: 6px;
}
 .timeline-item:last-child .timeline-marker:after {
	 content: none;
}
 .timeline-item:not(.period):hover .timeline-marker:before {
	 background: transparent;
	 border: 3px solid #CDE8ED;
}
/*----- TIMELINE CONTENT -----*/
 .timeline-content {
	 padding-bottom: 40px;
}
 .timeline-content p:last-child {
	 margin-bottom: 0;
}
/*----- TIMELINE PERIOD -----*/
 .period {
	 padding: 0;
}
 .period .timeline-info {
	 display: none;
}
 .period .timeline-marker:before {
	 background: transparent;
	 content: "";
	 width: 15px;
	 height: auto;
	 border: none;
	 border-radius: 0;
	 top: 0;
	 bottom: 30px;
	 position: absolute;
	 border-top: 3px solid #ccd5db;
	 border-bottom: 3px solid #ccd5db;
}
 .period .timeline-marker:after {
	 content: "";
	 height: 32px;
	 top: auto;
}
 .period .timeline-content {
	 padding: 40px 0 70px;
}
 .period .timeline-title {
	 margin: 0;
}
/*---------------------------------------------- MOD: TIMELINE SPLIT ----------------------------------------------*/
 @media (min-width: 768px) {
	 .timeline-split .timeline, .timeline-centered .timeline {
		 display: table;
	}
	 .timeline-split .timeline-item, .timeline-centered .timeline-item {
		 display: table-row;
		 padding: 0;
	}
	 .timeline-split .timeline-info, .timeline-centered .timeline-info, .timeline-split .timeline-marker, .timeline-centered .timeline-marker, .timeline-split .timeline-content, .timeline-centered .timeline-content, .timeline-split .period .timeline-info, .timeline-centered .period .timeline-info {
		 display: table-cell;
		 vertical-align: top;
	}
	 .timeline-split .timeline-marker, .timeline-centered .timeline-marker {
		 position: relative;
	}
	 .timeline-split .timeline-content, .timeline-centered .timeline-content {
		 padding-left: 30px;
	}
	 .timeline-split .timeline-info, .timeline-centered .timeline-info {
		 padding-right: 30px;
	}
	 .timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
		 position: relative;
		 left: -45px;
	}
}
/*---------------------------------------------- MOD: TIMELINE CENTERED ----------------------------------------------*/
 @media (min-width: 992px) {
	 .timeline-centered, .timeline-centered .timeline-item, .timeline-centered .timeline-info, .timeline-centered .timeline-marker, .timeline-centered .timeline-content {
		 display: block;
		 margin: auto;
		 padding: 0;
	}
	 .timeline-centered .timeline-item {
		 padding-bottom: 40px;
		 overflow: hidden;
	}
	 .timeline-centered .timeline-marker {
		 position: absolute;
		 left: 50%;
		 margin-left: -7.5px;
	}
	 .timeline-centered .timeline-info, .timeline-centered .timeline-content {
		 width: 50%;
	}
	 .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
		 float: left;
		 text-align: right;
		 padding-right: 30px;
	}
	 .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
		 float: right;
		 text-align: left;
		 padding-left: 30px;
	}
	 .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
		 float: right;
		 text-align: left;
		 padding-left: 30px;
	}
	 .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
		 float: left;
		 text-align: right;
		 padding-right: 30px;
	}
	 .timeline-centered > .timeline-item.period .timeline-content {
		 float: none;
		 padding: 0;
		 width: 100%;
		 text-align: center;
	}
	 .timeline-centered .timeline-item.period {
		 padding: 50px 0 90px;
	}
	 .timeline-centered .period .timeline-marker:after {
		 height: 30px;
		 bottom: 0;
		 top: auto;
	}
	 .timeline-centered .period .timeline-title {
		 left: auto;
	}
}
/*---------------------------------------------- MOD: MARKER OUTLINE ----------------------------------------------*/
 .marker-outline .timeline-marker:before {
	 background: transparent;
	 border-color: #CDE8ED;
}
 .marker-outline .timeline-item:hover .timeline-marker:before {
	 background: #CDE8ED;
}
 




