@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* all about slide section */
.slidesection {
  font-family: "IBM Plex Mono";
  font-size: 16px;
  line-height: 1.6;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.slidesection div {
/*   width: 50%; */
  align-items: center;
  justify-content: center;
  margin: 0 0 0 160px;
}

div.slides {
  height: 475px;
  position: relative;
}

/* all about the underline */
.hrslide {
  height: 0.15rem;
  width: 0%;
  margin: 0;
  background: black;
  border: none;
  transition: 0.3s ease-in-out;
}

.hrhover {
  width: 30%;
}

/* all about the titles */
.slidetitles {
  font-family: "Young Serif";
  font-size: 48px;
  line-height: 1.2;
  cursor: -webkit-default;
  cursor: default;
  padding: 10px 0;
  display:block;
 
/*   margin-top: 0.37em; */
}

.slidesubtitle {
  transform: translate(-45px, 0);
}

.all-topic {
}

/* all about the images */
div.slides img {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s, box-shadow 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 350px;
  max-width: 350px;
  max-height: 475px;
  min-height: 475px;
  transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in; /* Safari */
  transition: 0.2s;
}

.default0 {
  z-index: 5;
  transform: translate(0px, 0px);
  filter: grayscale(100%);
}

.default1 {
  z-index: 6;
  transform: translate(-25px, -25px);
  
}

.default2 {
  z-index: 4;
  transform: translate(25px, 25px);
  filter: grayscale(100%);
}

.default3 {
  z-index: 3;
  transform: translate(50px, 50px);
  filter: grayscale(100%);
}

.default4 {
  z-index: 2;
  transform: translate(75px, 75px);
  filter: grayscale(100%);
}

/* all about the image position and transition */
/* these classes get applied and removed to each image as you hover */
.position0 {
  z-index: 6;
  transform: translate(-45px, -45px);
}

.position1 {
  z-index: 4;
  transform: translate(0px, 0px);
  filter: grayscale(100%) ;
}

.position2 {
  z-index: 3;
  transform: translate(45px, 45px);
  filter: grayscale(100%) ;
}

.position3 {
  z-index: 2;
  transform: translate(90px, 90px);
  filter: grayscale(100%) ;
}

.position4 {
  z-index: 1;
  transform: translate(135px, 135px);
  filter: grayscale(100%) ;
}


/* on mobile, do the following */
@media (max-width: 1000px) {

.slides { 
  display: none; 
  }  

}